.toggleBtn{
  background-color: blanchedalmond;
  color: coral;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  border-width: 1px;
  cursor: pointer;
}

.lightGray{
  background-color: lightgray;
}
.lightGreen {
  background-color: lightgreen;
}